@model IEnumerable<Product>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="/dashboard/product/create">Create</a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>
                                <img width="50" height="50" src="@product.PhotoUrl" />
                            </td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.Discount</td>
                            <td>@product.Category.CategoryName</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/dashboard/product/update/@product.Id">Edit</a>
                                <a class="btn btn-danger btn-sm" href="/dashboard/product/delete/@product.Id">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- /.container-fluid -->